<!DOCTYPE html>
<html lang="en">
    <head>
        <script src={{ url_for('static', filename='assets/js/color-modes.js') }}></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Taste Explorer</title>


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

        <link href={{ url_for('static', filename='assets/dist/css/bootstrap.min.css') }} rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href={{ url_for('static', filename='css/styles.css') }} rel="stylesheet">
    </head>
    <body>
        {% include "header.html" %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>>
                </div>
            {% endif %}
        {% endwith %}

        <section>
            {% if meal %}
                {% include "post.html" %}
            {% elif content %}
                {% if carousel_meals %}
                    {% include "carousel.html" %}
                {% endif %}
                {% include "posts.html" %}
            {% endif %}
        </section>
        <script src={{ url_for('static', filename='assets/dist/js/bootstrap.bundle.min.js') }}></script>
    </body>
</html>